./out/aux
out/aux/1_prerequisiti.aux
out/aux/1_prerequisiti.fdb_latexmk
out/aux/1_prerequisiti.fls
out/aux/1_prerequisiti.log
out/aux/main.aux
out/aux/main.fdb_latexmk
out/aux/main.fls
out/aux/main.log
out/aux/main.toc
out/aux/2_binding_fragments.aux
out/aux/2_binding_fragments.fdb_latexmk
out/aux/2_binding_fragments.fls
out/aux/2_binding_fragments.log
out/aux/3_vampire.aux
out/aux/3_vampire.fdb_latexmk
out/aux/3_vampire.fls
out/aux/3_vampire.log
1_prerequisiti.aux
1_prerequisiti.fdb_latexmk
1_prerequisiti.fls
1_prerequisiti.log
1_prerequisiti.synctex.gz
2_binding_fragments.aux
2_binding_fragments.fdb_latexmk
2_binding_fragments.fls
2_binding_fragments.log
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.toc
2_binding_fragments.synctex.gz
out/aux/main.bbl
out/aux/main.blg
out/aux/0_introduzione.aux
out/aux/0_introduzione.fdb_latexmk
out/aux/0_introduzione.fls
out/aux/0_introduzione.log
out/aux/0_introduzione.out
out/aux/1_prerequisiti.out
out/aux/2_binding_fragments.out
out/aux/3_vampire.out
out/aux/frontespizio.aux
out/aux/frontespizio.fdb_latexmk
out/aux/frontespizio.fls
out/aux/frontespizio.log
out/aux/frontespizio.out
out/aux/main.out
